{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if not user.is_anonymous %}
        <h1 class="text-center my-3">Welcome {{user.first_name}} {{user.last_name}}!</h1>

        <div class="container">
            <div class="row">
                <!-- My Tasks -->
                <h3 class="text-center mb-3">My Tasks</h3>
                {% if todoitem_list %}
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% for todoitem in todoitem_list %}
                            <a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
                                <li class="list-group-item">{{ todoitem.task_name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-center">No tasks have been created.</p>
                {% endif %}
                <!-- End of My Tasks -->

                <!-- My Events -->
                <h3 class="text-center my-3">My Events</h3>
                {% if event_list %}
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% for event in event_list %}
                            <a href="{% url 'todolist:viewevent' event.id %}" class="text-decoration-none">
                                <li class="list-group-item">{{ event.event_name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-center">No events have been created.</p>
                {% endif %}
                <!-- End of My Events -->
            </div>
        </div>

    {% else %}
        <h1 class="text-center my-3">You are not authorized to access this page.</h1>
        <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a>.</p>
    {% endif %}
{% endblock %}
